.git
.gitignore
*.md
LICENSE
test4.mp4
frontend/node_modules
frontend/dist
frontend/.env
gateway/target

.qwen

**/.venv
venv
**/__pycache__
*.pyc
**/*.pyc
**/.pytest_cache
**/.mypy_cache

ml_core/dist/
*.log

ml_core/assets/
ml_core/.gitattributes
ml_core/.gitignore
ml_core/checkpoints

.vscode/
.idea/
*.pyo
.ipynb_checkpoints/
.env
